$bg-color: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
$paper-border-color: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$scissors--border-color: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$rock--border-color: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
