@import "variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient($bg-color);
  color: white;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 45%;
  margin-top: 5vh;
  height: 15vh;
  border-radius: 10px;
  border: 3px solid hsl(217, 16%, 45%);
  &__title-game {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 3%;
    height: 100px;
    text-transform: uppercase;
    p {
      height: 30px;
      letter-spacing: 2px;
    }
  }
  &__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: 110px;
    border-radius: 10px;
    background-color: white;
    margin-right: 3%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &-number {
      color: hsl(229, 25%, 31%);
      font-size: 3.5rem;
    }
    p {
      margin: 8% 2% 0% 2%;
      color: hsl(229, 64%, 46%);
      font-size: 1.1rem;
      letter-spacing: 1px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.main {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: auto;
  height: 400px;
  padding: 2%;
  .choice {
    position: absolute;
    background-color: white;
    padding: 35px;
    border-radius: 50%;
    width: 80%;
    height: 80%;
  }
  .img-container {
    position: absolute;
    width: 150px;
    border-radius: 50%;
    height: 150px;
  }
  .paper__img-container {
    left: 0;
    top: 0;
    background: linear-gradient($paper-border-color);
    .choice__triangle--papier {
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  }
  .scissors__img-container {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient($scissors--border-color);
    .choice__triangle--scissors {
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  }

  .rock__img-container {
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    background: linear-gradient($rock--border-color);
  }
  .choice__triangle--rock {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}

.rules {
  display: flex;
  position: relative;
  left: 45%;
  margin-bottom: 2%;
  // width: 50%;
  // justify-content: center;
  // justify-content: flex-end;
  align-items: center;
  padding: 20px 38px;
  border-radius: 10px;
  height: 20px;
  // border: 3px solid hsl(217, 16%, 45%);
  border: 1px solid white;
}

.rules p {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
}
