@import "variables.scss";
@import "pick.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient($bg-color);
  color: white;
  // overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 45%;
  margin-top: 5vh;
  height: 15vh;
  border-radius: 10px;
  border: 3px solid hsl(217, 16%, 45%);
  &__title-game {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 3%;
    height: 100px;
    text-transform: uppercase;
    p {
      height: 30px;
      letter-spacing: 2px;
    }
  }
  &__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: 110px;
    border-radius: 10px;
    background-color: white;
    margin-right: 3%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &-number {
      color: hsl(229, 25%, 31%);
      font-size: 3.5rem;
    }
    p {
      margin: 8% 2% 0% 2%;
      color: hsl(229, 64%, 46%);
      font-size: 1.1rem;
      letter-spacing: 1px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.main.hide {
  display: none;
}

.main {
  width: 660px;
  margin: auto;
  height: 520px;
  // padding: 2%;
  // border: 5px solid red;
  .main__choice {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // border: 5px solid blue;
    // width: 100%;
    height: 100%;
  }
  .choice__triangle {
    position: absolute;
    width: 70%;
    height: 70%;
  }
  .choice {
    position: absolute;
    background-color: white;
    padding: 30px;
    border-radius: 50%;
    width: 80%;
    height: 80%;
  }
  .img-container {
    position: absolute;
    border: 0;
    width: 160px;
    border-radius: 50%;
    height: 160px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    cursor: pointer;
  }
  .paper__img-container {
    left: 12%;
    top: 5%;
    background: linear-gradient($paper-border-color);
    .choice__triangle--papier {
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  }
  .scissors__img-container {
    position: absolute;
    right: 12%;
    top: 5%;
    background: linear-gradient($scissors--border-color);
    .choice__triangle--scissors {
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  }

  .rock__img-container {
    bottom: 12%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    background: linear-gradient($rock--border-color);
  }
  .choice__triangle--rock {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}

.rules {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2%;
  // margin-right: 2%;
  align-items: center;
  padding: 20px 38px;
  border-radius: 10px;
  height: 20px;
  border: 1px solid white;
  p {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
  }
}

.rules__img-container {
  position: fixed;
  top: 42%;
  left: 50%;
  background-color: white;
  padding: 2rem;
  width: 440px;
  height: 480px;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  border-radius: 10px;
  z-index: 99;
  opacity: 1;
  z-index: 5;
  .rules__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
  }
  &--close {
    width: 20px;
    height: 20px;
  }
  img {
    height: 100%;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  p {
    color: hsl(229, 25%, 31%);
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
  }
}

.hide {
  opacity: 0.7;
  z-index: 1;
}
